extends layout

block content
    h1 Oauth Test
    if errorMessage
        p.errorMessage
            span= errorMessage
    p Goal is to have twitter, google+, facebook, and local working.
    if user
        h4 Logged in with 
            if user.local.username
                h5 Local Login
                p= user.local.username
            if user.facebook.token
                h5 Facebook Oauth
                p= user.facebook.name
                p= user.facebook.email
            if user.twitter.token
                h5 Twitter Oauth
                p= user.twitter.displayName
    
    a(href="/signout", title="sign out") Sign Out
